* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    font-family: 'Roboto';
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
    max-width: 100%;
    display: block;
}

ul,
ol {
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/*--------------------*/
.border {
    border: 1px solid red;
}

.wrap {
    max-width: 100%;
    min-height: 100%;
}

.page {}

.main {
    position: relative;
    background-color: #f3f4f9;
    min-height: 950px;
    padding-top: 67px;
}

.main-wrap {
    position: relative;
    max-width: 1600px;
    margin: 0 auto;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 65px;
}

.logo {}

.nav {
    min-width: 593px;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.link a {
    font-size: 16px;
    color: #000;
}



.img_bg {
    position: absolute;
    top: 228px;
    left: 207px;
    width: 594px;
    height: 594px;
    border-radius: 50%;
    background-color: #fff;
}

.main-screen__img {
    position: absolute;
    top: 149px;
    left: -73px;
    width: 100%;
    height: 100%;
}

.main-screen__info {
    width: 468px;
    height: 365px;
    position: absolute;
    top: 368px;
    left: 871px;

}

.info__title {
    color: #000000;
    font-size: 56px;
    font-weight: 700;
}

.info__text {
    opacity: 0.8;
    color: #000000;
    font-size: 21px;
    line-height: 36px;
    margin: 27px 0 70px 0;
}

.info__link {
    /* Style for "view" */
    color: #000000;
    font-size: 21px;
    font-weight: 700;
    text-transform: uppercase;
}

.welcome {
    margin: 126px 0 132px 0;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

.up-title {
    opacity: 0.8;
    text-transform: uppercase;
    text-align: center;

}

.title {
    font-size: 42px;
    font-weight: 700;
    text-align: center;
}

.title_service{
    max-width: 665px;
    margin: 34px auto 129px auto;
}

.service {
    display: flex;
    width: 1139px;
}

.service__item {
    flex: 1 0 33.33%;
    display: flex;
    /* width: 351px; */
    padding: 0 14.5px 0 14.5px;

}

.item__img {}

.item__info {
    margin-left: 32px;
}

.item__title {
    font-size: 18px;
    font-weight: 700;
}

.item__text {
    opacity: 0.5;
    line-height: 24px;
}

.bestsaler {}

.title_bestsaler{
    margin-bottom: 34px;
}
.sub-title {
    font-size: 19px;
    text-align: center;
}